<p>******** Now your results ********</p>
<p>your answer: </p>
<%= @guess %>

<p>Time Taken to answer: <%= @result[:time] %></p>
<p>Translation: <%= @result[:translation] %></p>
<p>Your score: <%= @result[:score] %></p>
<p>Message: <%= @result[:message] %></p>
